/*Menu*/
  
.navbar {
    background: white;
    display: flex;
    font-family: 'vtks Rude Metal shadow';
    font-family: 'vtks Rude Metal';
    font-size: 30px;
}

.navbar-brand img {
    height: 130px;
    width: 160px;
    border-radius: 50%;
}

.navbar-nav{
  margin-left: 400px;
}

